<%- include('partials/header') %>
<link rel="stylesheet" href="css/ticket.css">

    <title>Book Flight</title>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
    <!-- <form method="POST">
        <input type="number" name="flightid">
        <input type="submit" value="show passengers">
    </form> -->
    <% if(message.error) { %>
		<div class="alert alert-danger" style="text-align: center;">
			<%= message.error%>
		</div>
	<% } %>
	<% if(message.success) { %>
		<div class="alert alert-success" style="text-align: center;">
			<%= message.success %>
		</div>
	<% } %>
    
      <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">AIRPORT ID</th> -->
            <th scope="col">ICAO Code</i></th>
            <th scope="col">Airport Name</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
          </tr>
        </thead>
        <tbody>
        <%for(var i=0; i<allairports.length; i++){%>
            <tr>
                <td><%=allairports[i].code_id%></td>
                <td><%=allairports[i].name%></td>
                <td><%=allairports[i].city%></td>
                <td><%=allairports[i].country%></td>
        <%}%>
        </tbody>
      </table>
        <form method="POST">
            <input type="text" id="airport1" placeholder="code_id" name="airportId" maxlength="3" style="text-transform: uppercase"> 
            <input type="text" id="airport1" placeholder="Name" name="airportName" maxlength="70" > 
            <input type="text" id="airport1" placeholder="City" name="airportCity" maxlength="20" > 
            <input type="text" id="airport1" placeholder="Country" name="airportCountry" maxlength="50" > 
            <button type="submit" id="portsubmit" name="portsubmit">ADD AIRPORT</button>
        </form>
</body>
</html>


    <!-- JS -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="js/main.js"></script> -->

<%- include('partials/footer') %>
