<%- include('partials/header') %>
<link rel="stylesheet" href="css/ticket.css">

    <title>Add Route</title>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  
  
      <link rel="stylesheet" href="css/style.css">

      <script>
          function updateSelect(changedSelect, selectId) {
                var otherSelect = document.getElementById(selectId);
                for (var i = 0; i < otherSelect.options.length; ++i) {
                        otherSelect.options[i].disabled = false;
                }
                if (changedSelect.selectedIndex == 0) {
                        return;
                    }
                 otherSelect.options[changedSelect.selectedIndex].disabled = true;
            }
      </script>
  
</head>

<body>
    <% if(message.error) { %>
		<div class="alert alert-danger" style="text-align: center;">
			<%= message.error%>
		</div>
	<% } %>
	<% if(message.success) { %>
		<div class="alert alert-success" style="text-align: center;">
			<%= message.success %>
		</div>
	<% } %>

    <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">AIRPORT ID</th> -->
            <th scope="col">Route Code</i></th>
            <th scope="col">Departure Airport</th>
            <th scope="col">Arrival Airport</th>
            
          </tr>
        </thead>
        <tbody>
        <%for(var i=0; i<allroutes.length; i++){%>
            <tr>
                <td><%=allroutes[i].route_id%></td>
                <td><%=allroutes[i].dept_code%></td>
                <td><%=allroutes[i].arr_code%></td>
            </tr>
                
        <%}%>
        </tbody>
      </table>
      <br>
      <br>
      <div class="d-flex justify-content-center">
          <form method="POST">
              <p>Departure: </p><select type="text" id="airport1" placeholder="Departure" name="airport_dept" maxlength="3" style="text-transform: uppercase" onchange="updateSelect(this,'airport2')" > 
                <option value="">Select a location...</option>
                <% for (var i = 0; i < allairports.length; i++) { %>
                    
                    <option>
                        <%= allairports[i].code_id %>, <%= allairports[i].city %>
                    </option>
                    <% } %>
                </select>
                <br>
                <br>
                <p>Arrival: </p>
                <select type="text" id="airport2" placeholder="Arrival" name="airport_arr" maxlength="3" style="text-transform: uppercase" onchange="updateSelect(this,'airport1')" > 
                    <option value="">Select a location...</option>
                    <% for (var i = 0; i < allairports.length; i++) { %>
                        
                        <option>
                            <%= allairports[i].code_id %>, <%= allairports[i].city %>
                        </option>
                        <% } %>
                    </select>
                    <br>
                    <br>
                    <button type="submit" id="portsubmit" name="portsubmit" class="btn btn-primary">ADD ROUTE</button>
                </form>
            </div>
            </body>
            </html>
            <%- include('partials/footer') %>
            
