<%- include('partials/header') %>
<link rel="stylesheet" href="css/flights.css">

    <title>Book Flight</title>
</head>
<body>
    <div class="container">
        <section class="dashboard">
            <header class="booking-bar" style="background-color: HSL(var(--button-background-color, var(--color-orange)));">
              <div class="booking-bar__info">
                <h2 class="booking-bar__heading"><%=flights[0].dept_city%> - <%=flights[0].arr_city%><h2>
                <p class="booking-bar__sub-heading"><%=pcount%> Passengers</p>
              </div>
              <!-- /.booking-bar__info -->
              <div class="booking-bar__inputs">
                <div class="icon-input">
                  <i class="icon-input__icon far fa-calendar-alt"></i>
                  <input type="text" placeholder="Departure Date" value="<%=flights[0].dept_date.toString().slice(0,-39)%>" disabled style="background-color: white;">
                </div>
              </div>
              <!-- booking-bar__inputs -->
            </header>
          <section class="flights">
            <section class="flights-list">
                <%for(var i=0; i<flights.length; i++){%>
                    <form method="POST" class="register-form" id="register-form" autocomplete="off">
              <article class="flight-card flights-list__item">
                <div class="flight-card__airlines">
            <p>SA</p>
            <p name="flightno"><%= flights[i].flight_id %></p>
                    
                  <!-- /.flight-card__airline -->
                </div>
                <!-- /.flight-card__airlines -->
                <div class="flight-card__departure">
                  <time class="flight-card__time"><%=flights[i].dept_time.toString().substr(0,5)%></time>
                  <h2 class="flight-card__city"><%=flights[i].dept_city%> (<%=flights[i].dept_code%>)</h2>
                  <time class="flight-card__day"><%=flights[i].dept_name%></time><br>
                  <!-- <time class="flight-card__day"><%=flights[i].dept_date%></time> -->
                </div>
                <!-- /.flight-card__departure -->
                <div class="flight-card__route">
                  <p class="flight-card__duration"><%=flight_dur[i] %></p>
                  <div class="flight-card__route-line route-line" aria-hidden="true">
                    <div class="route-line_stop route-line_start" aria-hidden="true"></div>
                    <!-- /.route-line__start -->
                    <div class="route-line_stop route-line_end" aria-hidden="true"></div>
                    <!-- /.route-line__start -->
                  </div>
                  <!-- flight-card__route-line -->
                  <p class="flight-card__type">Non-stop</p>
                </div>
                <div class="flight-card__arrival">
                  <time class="flight-card__time"><%= flights[i].arr_time.toString().substr(0,5) %></time>
                  <h2 class="flight-card__city"><%=flights[i].arr_city%> (<%=flights[i].arr_code%>)</h2>
                  <time class="flight-card__day"><%=flights[i].arr_name%></time><br>
                  <!-- <time class="flight-card__day"><%= flights[i].dept_date %></time> -->
                </div>
                <!-- /.flight-card__arrival -->
                <div class="flight-card__action">
                  <p class="flight-card__price styled-price">₹ <%= pcount*flights[i].fare %></p>
                  <br>
                  <button type="submit" name="flightno" id="form-submit" value=<%= flights[i].flight_id%> class="flight-card__cta button button--orange submit-form button ">Book</button>

                  <!-- <button class="flight-card__cta button button--orange">Select</button> -->
                </div>
                <!-- /.flight-card__action -->
              </article>
            </form>
            <br>
            <%}%>
            </section>
    
          </section>
    
          <aside class="sidebar">
            
            <section class="sidebar-section">
              <h2 class="sidebar-section__heading">Our covid-19 travel waiver policy provides:</h2>
              <ul class="choice-list">
                <li class="choice-list__item">
                  <label >- Zero cancellation charges</label>
                </li>
                <li class="choice-list__item">
                  <p >*Valid for ticket purchases on and before 30th April 2021</p>
                </li>
              </ul>
            </section>
          </aside>
        </section>
        <!-- /.dashboard -->
      </div>

<%- include('partials/footer') %>