<%- include('partials/header') %>

    <title>Select Seatno</title>
</head>
<script>
  function checkboxes(pcount){
    var inputElems = document.getElementsByTagName("input"),count = 0,limit=pcount;
    for (var i=0; i<inputElems.length; i++) {      
        if (inputElems[i].type == "checkbox" && inputElems[i].checked == true){
          count++;
        }
    }
    if (count> limit) {
      console.log("You can select maximum of " + limit + " seats.");
      alert("You can select maximum of " + limit + " seats.");						
      for (var i=0; i<inputElems.length; i++) {      
        if (inputElems[i].type == "checkbox" && inputElems[i].checked == true){
          inputElems[i].checked=false;
        }
      }
    }
  }
  function chk_seats(pcount){
    var inputElems = document.getElementsByTagName("input"),count = 0;
    for (var i=0; i<inputElems.length; i++) {      
        if (inputElems[i].type == "checkbox" && inputElems[i].checked == true){
          count++;
        }
    }
    if (count!=pcount) {
      alert("Please select " + pcount+ " seats.");	
      return false;
      for (var i=0; i<inputElems.length; i++) {      
        if (inputElems[i].type == "checkbox" && inputElems[i].checked == true)
        {
          inputElems[i].checked=false;
        }
        else
        {
          return true;
        }
      }
    
    }
  }
</script>
<body>
            <form method="POST" name="seatform" class="register-form" id="register-form" autocomplete="off">
              <div class="plane">
                <div class="cockpit">
                  <%if (pcount==1){%>
                  <h1>Please select 1 seat</h1>
                  <%}else{%>
                    <h1>Please select <%=pcount%> seats</h1>
                  <%}%>
                </div>
                <div class="exit exit--front fuselage">
                  
                </div>
                <ol class="cabin fuselage">
                  <%for (var j=1; j<=3; j++){%>
                    <li class="row row--1">
                      <%for (var k=1; k<=10; k++){%>
                      <ol class="seats" type="A">
                        <%for (var i=60*(j-1)+(k-1)*6+1; i<=60*(j-1)+(k-1)*6+6; i++){%>
                          <li class="seat">
                            <%if(occupied.includes(i)){%>
                              <input type="checkbox" disabled id="<%=i%>"/>
                              <%}else{%>
                                <input type="checkbox" id="<%=i%>" name="<%=i%>" onclick="checkboxes(<%=pcount%>)"/>
                                <%}%>
                                <label for="<%=i%>"><%=i%></label>
                              </li>
                              <%}%>
                            </ol>
                            <%}%>
                            <div class="restroom restroom--front fuselage">
                          </li>
                          <%}%>
                        </ol>
                        <div class="exit exit--back fuselage">
                          
                        </div>
                      </div>
                      <div class="d-flex justify-content-center">
                        <button type="submit" name="signup" id="signup" class="btn btn--primary" onclick="return chk_seats(<%=pcount%>)" style="background-color: #ffe165;" value="Select">Proceed</button>
                      </div>
                      <br>
                      <br>
                      <br>
                    </form>
                      <script></script>
                      <%- include('partials/footer') %>