<%- include('partials/header') %>
<link rel="stylesheet" href="css/ticket.css">

    <title>Book Flight</title>
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  
  
  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
    <div class="container">
            <%for (var i=0; i<bookingsoutput.length; i++){%>
            <p>Booked on <%=bookingsoutput[i].booking_timestamp.toString().substring(0,15)%></p>
            <div class="row d-flex justify-content-center">
                
                <div class="card-group">
                <%for (var j=0; j<ticketsoutput[i].length; j++){%>
                <div class="card col-lg-12">
                    <div class="card-body w-30">
                        <h5 class="card-title"><%=ticketsoutput[i][j].name%>-<%=ticketsoutput[i][j].name%></h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                    <!-- <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div> -->
                </div>
                <%}%>
            </div>
        </div>
        <br>
        <br>
        <%}%>
    </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

  
</body>
</html>


    <!-- JS -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <!-- <script src="js/main.js"></script> -->

<%- include('partials/footer') %>
